<section class="home" id="home">
  <div class="home-photo">
    <div class="home-photo__background"></div>
    <img class="home-photo__photo" src="../img/my_photo02.jpg"></img>
  </div>
  <div class="home-information">
    <p class="hello">HI THERE !</p>
    <p class="name">I'm <span id="name" class="text"></span></p>
    <p class="description">Highly motivated developer with a good knowledge 
      of basics Front-end. I am constantly seeking to develop myself by 
      learning new technologies and keeping abreast of latest developments 
      trends. Ability to work well under stress and with specific deadline. 
      At the moment I am working on improving the level of English and 
      expanding my knowledge in the field of Java Script.</p>
    <a class="home-information__link" href="../about.html">MORE ABOUT ME</a>
  </div>
  <div class="nav">
    <a href="../index.html" class="fas fa-home">
      <p>HOME</p>
    </a>
    <a href="../about.html" class="fas fa-user">
      <p>ABOUT</p>
    </a>
    <a href="../portfolio.html" class="fas fa-briefcase">
      <p>PORTFOLIO</p>
    </a>
    <a href="../contact.html" class="fas fa-envelope-open">
      <p>CONTACT</p>
    </a>
  </div>
</section>
